node_modules/
pnpm-lock.yaml
pnpm-debug.log*
npm-debug.log*
.yarn/*
**/.turbo/
**/.next/
**/.vercel/
**/.expo/
**/.expo-shared/
**/dist/
**/build/
**/ios/build/
**/android/app/build/
.DS_Store
.env
.env.*
**/*.env
apps/**/.env
apps/**/.env.*
apps/owner-portal/.env.local
supabase/.env
supabase/.temp/
apps/mobile/.expo/
apps/mobile/.expo-shared/
